/* 
.say{
  border: 9px solid red;
  margin: 5px;
  padding: 5px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  gap: 20px;
} */

/* button{
  background-color: #ee0202;
  color: white;
  padding: 5px 8px;
  border-radius: 6px;
  border: 2px solid rgb(190, 165, 165);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
} */

